In [135]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier

In [94]:
score_data=pd.read_csv('/content/train.csv')

<ipython-input-94-06e634afc420>:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  score_data=pd.read_csv('/content/train.csv')

In [95]:
score_data.describe()

,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month
count,84998.000000,100000.000000,100000.00000,100000.000000,100000.000000,98035.000000,100000.000000,100000.000000
mean,4194.170850,17.091280,22.47443,72.466040,21.068780,27.754251,32.285173,1403.118217
std,3183.686167,117.404834,129.05741,466.422621,14.860104,193.177339,5.116875,8306.041270
min,303.645417,-1.000000,0.00000,1.000000,-5.000000,0.000000,20.000000,0.000000
25%,1625.568229,3.000000,4.00000,8.000000,10.000000,3.000000,28.052567,30.306660
50%,3093.745000,6.000000,5.00000,13.000000,18.000000,6.000000,32.305784,69.249473
75%,5957.448333,7.000000,7.00000,20.000000,28.000000,9.000000,36.496663,161.224249
max,15204.633333,1798.000000,1499.00000,5797.000000,67.000000,2597.000000,50.000000,82331.000000

In [96]:
score_data.columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score'],
      dtype='object')

In [97]:
d_col = ['ID','Customer_ID','Month','Name','SSN','Monthly_Inhand_Salary','Num_Bank_Accounts','Num_Credit_Card',
         'Interest_Rate','Num_of_Loan','Type_of_Loan','Changed_Credit_Limit','Num_Credit_Inquiries','Credit_Mix',
         'Credit_Utilization_Ratio','Amount_invested_monthly']
score_data=score_data.drop(d_col,axis=1)

In [98]:
score_data.shape

(100000, 12)

In [99]:
score_data.columns

Index(['Age', 'Occupation', 'Annual_Income', 'Delay_from_due_date',
       'Num_of_Delayed_Payment', 'Outstanding_Debt', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month', 'Payment_Behaviour',
       'Monthly_Balance', 'Credit_Score'],
      dtype='object')

In [100]:
score_data.head()

,Age,Occupation,Annual_Income,Delay_from_due_date,Num_of_Delayed_Payment,Outstanding_Debt,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Payment_Behaviour,Monthly_Balance,Credit_Score
0,23,Scientist,19114.12,3,7,809.98,22 Years and 1 Months,No,49.574949,High_spent_Small_value_payments,312.49408867943663,Good
1,23,Scientist,19114.12,-1,NaN,809.98,NaN,No,49.574949,Low_spent_Large_value_payments,284.62916249607184,Good
2,-500,Scientist,19114.12,3,7,809.98,22 Years and 3 Months,No,49.574949,Low_spent_Medium_value_payments,331.2098628537912,Good
3,23,Scientist,19114.12,5,4,809.98,22 Years and 4 Months,No,49.574949,Low_spent_Small_value_payments,223.45130972736786,Good
4,23,Scientist,19114.12,6,NaN,809.98,22 Years and 5 Months,No,49.574949,High_spent_Medium_value_payments,341.48923103222177,Good

In [101]:
score_data.dtypes

Age                        object
Occupation                 object
Annual_Income              object
Delay_from_due_date         int64
Num_of_Delayed_Payment     object
Outstanding_Debt           object
Credit_History_Age         object
Payment_of_Min_Amount      object
Total_EMI_per_month       float64
Payment_Behaviour          object
Monthly_Balance            object
Credit_Score               object
dtype: object

In [102]:
score_data.isnull().sum()

Age                          0
Occupation                   0
Annual_Income                0
Delay_from_due_date          0
Num_of_Delayed_Payment    7002
Outstanding_Debt             0
Credit_History_Age        9030
Payment_of_Min_Amount        0
Total_EMI_per_month          0
Payment_Behaviour            0
Monthly_Balance           1200
Credit_Score                 0
dtype: int64

In [103]:
score_data=score_data.dropna()

In [104]:
score_data.isnull().sum()

Age                       0
Occupation                0
Annual_Income             0
Delay_from_due_date       0
Num_of_Delayed_Payment    0
Outstanding_Debt          0
Credit_History_Age        0
Payment_of_Min_Amount     0
Total_EMI_per_month       0
Payment_Behaviour         0
Monthly_Balance           0
Credit_Score              0
dtype: int64

In [105]:
score_data['Annual_Income'].unique()

array(['19114.12', '34847.84', '34847.84_', ..., '20002.88', '39628.99',
       '39628.99_'], dtype=object)

In [106]:
score_data['Age']=score_data['Age'].str.replace('_','')
score_data['Annual_Income']=score_data['Annual_Income'].str.replace('_','')
score_data['Num_of_Delayed_Payment']=score_data['Num_of_Delayed_Payment'].str.replace('_','')
score_data['Outstanding_Debt']=score_data['Outstanding_Debt'].str.replace('_','')
score_data['Monthly_Balance']=score_data['Monthly_Balance'].str.replace('_','')

In [107]:
score_data['Outstanding_Debt'].unique()

array(['809.98', '605.03', '1303.01', ..., '620.64', '3571.7', '502.38'],
      dtype=object)

In [108]:
score_data['Age'] = pd.to_numeric(score_data['Age'], errors='coerce').astype('Int64')  # Using Int64 to handle NaN
score_data['Annual_Income'] = pd.to_numeric(score_data['Annual_Income'], errors='coerce')
score_data['Num_of_Delayed_Payment'] = pd.to_numeric(score_data['Num_of_Delayed_Payment'], errors='coerce').astype('Int64')
score_data['Outstanding_Debt'] = pd.to_numeric(score_data['Outstanding_Debt'], errors='coerce')
score_data['Monthly_Balance'] = pd.to_numeric(score_data['Monthly_Balance'], errors='coerce')
score_data.dtypes

Age                         Int64
Occupation                 object
Annual_Income             float64
Delay_from_due_date         int64
Num_of_Delayed_Payment      Int64
Outstanding_Debt          float64
Credit_History_Age         object
Payment_of_Min_Amount      object
Total_EMI_per_month       float64
Payment_Behaviour          object
Monthly_Balance           float64
Credit_Score               object
dtype: object

In [109]:
score_data[['Occupation','Credit_History_Age','Payment_of_Min_Amount','Payment_Behaviour','Credit_Score']].head()

,Occupation,Credit_History_Age,Payment_of_Min_Amount,Payment_Behaviour,Credit_Score
0,Scientist,22 Years and 1 Months,No,High_spent_Small_value_payments,Good
2,Scientist,22 Years and 3 Months,No,Low_spent_Medium_value_payments,Good
3,Scientist,22 Years and 4 Months,No,Low_spent_Small_value_payments,Good
5,Scientist,22 Years and 6 Months,No,!@9#%8,Good
6,Scientist,22 Years and 7 Months,No,Low_spent_Small_value_payments,Good

In [110]:
score_data['Payment_of_Min_Amount'].value_counts()

Payment_of_Min_Amount
Yes    43725
No     29906
NM      9999
Name: count, dtype: int64

In [111]:
score_data['Payment_of_Min_Amount']=score_data['Payment_of_Min_Amount'].apply(lambda x: 0 if x=='No' else 1 if x=='Yes' else 2)

In [112]:
score_data['Payment_of_Min_Amount'].value_counts()

Payment_of_Min_Amount
1    43725
0    29906
2     9999
Name: count, dtype: int64

In [113]:
score_data['Credit_Score'].value_counts()

Credit_Score
Standard    44463
Poor        24298
Good        14869
Name: count, dtype: int64

In [114]:
score_data['Credit_Score']=score_data['Credit_Score'].apply(lambda x: 0 if x=='Poor' else 1 if x=='Standard' else 2)

In [115]:
score_data['Credit_Score'].value_counts()

Credit_Score
1    44463
0    24298
2    14869
Name: count, dtype: int64

In [116]:
score_data['Credit_History_Age'] = score_data['Credit_History_Age'].astype(str).str.replace(' Years and ','.')
score_data['Credit_History_Age'] = score_data['Credit_History_Age'].astype(str).str.replace('Months','')

In [117]:
score_data['Credit_History_Age']=score_data['Credit_History_Age'].astype(float)

In [118]:
score_data.dtypes

Age                         Int64
Occupation                 object
Annual_Income             float64
Delay_from_due_date         int64
Num_of_Delayed_Payment      Int64
Outstanding_Debt          float64
Credit_History_Age        float64
Payment_of_Min_Amount       int64
Total_EMI_per_month       float64
Payment_Behaviour          object
Monthly_Balance           float64
Credit_Score                int64
dtype: object

In [119]:
score_data = pd.get_dummies(score_data, columns=['Occupation'])

In [120]:
score_data.head()

,Age,Annual_Income,Delay_from_due_date,Num_of_Delayed_Payment,Outstanding_Debt,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Payment_Behaviour,Monthly_Balance,...,Occupation_Journalist,Occupation_Lawyer,Occupation_Manager,Occupation_Mechanic,Occupation_Media_Manager,Occupation_Musician,Occupation_Scientist,Occupation_Teacher,Occupation_Writer,Occupation________
0,23,19114.12,3,7,809.98,22.1,0,49.574949,High_spent_Small_value_payments,312.494089,...,False,False,False,False,False,False,True,False,False,False
2,-500,19114.12,3,7,809.98,22.3,0,49.574949,Low_spent_Medium_value_payments,331.209863,...,False,False,False,False,False,False,True,False,False,False
3,23,19114.12,5,4,809.98,22.4,0,49.574949,Low_spent_Small_value_payments,223.451310,...,False,False,False,False,False,False,True,False,False,False
5,23,19114.12,8,4,809.98,22.6,0,49.574949,!@9#%8,340.479212,...,False,False,False,False,False,False,True,False,False,False
6,23,19114.12,3,8,809.98,22.7,0,49.574949,Low_spent_Small_value_payments,244.565317,...,False,False,False,False,False,False,True,False,False,False

In [121]:
score_data.columns

Index(['Age', 'Annual_Income', 'Delay_from_due_date', 'Num_of_Delayed_Payment',
       'Outstanding_Debt', 'Credit_History_Age', 'Payment_of_Min_Amount',
       'Total_EMI_per_month', 'Payment_Behaviour', 'Monthly_Balance',
       'Credit_Score', 'Occupation_Accountant', 'Occupation_Architect',
       'Occupation_Developer', 'Occupation_Doctor', 'Occupation_Engineer',
       'Occupation_Entrepreneur', 'Occupation_Journalist', 'Occupation_Lawyer',
       'Occupation_Manager', 'Occupation_Mechanic', 'Occupation_Media_Manager',
       'Occupation_Musician', 'Occupation_Scientist', 'Occupation_Teacher',
       'Occupation_Writer', 'Occupation________'],
      dtype='object')

In [122]:
print(score_data['Payment_Behaviour'].value_counts())

Payment_Behaviour
Low_spent_Small_value_payments      20834
High_spent_Medium_value_payments    14851
High_spent_Large_value_payments     11664
Low_spent_Medium_value_payments     11595
High_spent_Small_value_payments      9593
Low_spent_Large_value_payments       8789
!@9#%8                               6304
Name: count, dtype: int64

In [123]:
score_data = score_data[score_data['Payment_Behaviour'] != '!@9#%8']
score_data.head()

,Age,Annual_Income,Delay_from_due_date,Num_of_Delayed_Payment,Outstanding_Debt,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Payment_Behaviour,Monthly_Balance,...,Occupation_Journalist,Occupation_Lawyer,Occupation_Manager,Occupation_Mechanic,Occupation_Media_Manager,Occupation_Musician,Occupation_Scientist,Occupation_Teacher,Occupation_Writer,Occupation________
0,23,19114.12,3,7,809.98,22.1,0,49.574949,High_spent_Small_value_payments,312.494089,...,False,False,False,False,False,False,True,False,False,False
2,-500,19114.12,3,7,809.98,22.3,0,49.574949,Low_spent_Medium_value_payments,331.209863,...,False,False,False,False,False,False,True,False,False,False
3,23,19114.12,5,4,809.98,22.4,0,49.574949,Low_spent_Small_value_payments,223.451310,...,False,False,False,False,False,False,True,False,False,False
6,23,19114.12,3,8,809.98,22.7,0,49.574949,Low_spent_Small_value_payments,244.565317,...,False,False,False,False,False,False,True,False,False,False
8,28,34847.84,3,4,605.03,26.7,0,18.816215,Low_spent_Small_value_payments,470.690627,...,False,False,False,False,False,False,False,False,False,True

In [124]:
score_data = pd.get_dummies(score_data, columns=['Payment_Behaviour'])

In [125]:
score_data = score_data[(score_data['Age'] < 100) & (score_data['Age'] > 0)]
score_data = score_data[(score_data['Delay_from_due_date'] > 0) & (score_data['Num_of_Delayed_Payment'] > 0) & (score_data['Total_EMI_per_month'] > 0)]

In [126]:
score_data.describe()

,Age,Annual_Income,Delay_from_due_date,Num_of_Delayed_Payment,Outstanding_Debt,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Monthly_Balance,Credit_Score
count,64734.0,6.473400e+04,64734.000000,64734.0,64734.000000,64734.000000,64734.000000,64734.000000,6.369200e+04,64734.000000
mean,32.829224,1.744366e+05,22.562363,32.010273,1529.307010,17.512865,0.816634,1569.252703,-3.663464e+22,0.831835
std,10.634679,1.442472e+06,15.076635,228.711216,1193.842335,8.320566,0.624841,8751.143466,3.494338e+24,0.663917
min,14.0,7.005930e+03,1.000000,1.0,0.340000,0.100000,0.000000,4.462837,-3.333333e+26,0.000000
25%,24.0,1.866656e+04,11.000000,10.0,624.620000,11.000000,0.000000,41.631147,2.640027e+02,0.000000
50%,32.0,3.575569e+04,19.000000,15.0,1262.890000,17.200000,1.000000,79.250489,3.233481e+02,1.000000
75%,41.0,6.906100e+04,29.000000,19.0,2172.610000,24.100000,1.000000,171.748418,4.408451e+02,1.000000
max,95.0,2.419806e+07,67.000000,4397.0,4998.070000,33.800000,2.000000,82331.000000,1.552946e+03,2.000000

In [127]:
score_data.Total_EMI_per_month.unique()

array([   49.57494921,    18.81621457,   246.99231945, ...,
          60.96477237, 12112.        ,    35.10402261])

In [128]:
score_data.Age=np.log(score_data.Age)
score_data.Annual_Income=np.log(score_data.Annual_Income)
score_data.Outstanding_Debt=np.log(score_data.Outstanding_Debt)
score_data.Monthly_Balance=np.log(score_data.Monthly_Balance)
score_data.Delay_from_due_date=np.log(score_data.Delay_from_due_date)
score_data.Credit_History_Age=np.log(score_data.Credit_History_Age)
score_data.Num_of_Delayed_Payment=np.log(score_data.Num_of_Delayed_Payment)
score_data.Total_EMI_per_month=np.log(score_data.Total_EMI_per_month)

/usr/local/lib/python3.10/dist-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [129]:
score_data.describe()

,Age,Annual_Income,Delay_from_due_date,Num_of_Delayed_Payment,Outstanding_Debt,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Monthly_Balance,Credit_Score
count,64734.0,64734.000000,64734.000000,64734.0,64734.000000,64734.000000,64734.000000,64734.000000,63685.000000,64734.000000
mean,3.434529,10.536036,2.853605,2.547901,6.926400,2.695515,0.816634,4.556443,5.818925,0.831835
std,0.345852,0.966211,0.799752,0.756565,1.085036,0.687818,0.624841,1.453338,0.526473,0.663917
min,2.639057,8.854512,0.000000,0.0,-1.078810,-2.302585,0.000000,1.495785,-4.858816,0.000000
25%,3.178054,9.834489,2.397895,2.302585,6.437143,2.397895,0.000000,3.728849,5.575981,0.000000
50%,3.465736,10.484465,2.944439,2.70805,7.141158,2.844909,1.000000,4.372614,5.778821,1.000000
75%,3.713572,11.142745,3.367296,2.944439,7.683684,3.182212,1.000000,5.146031,6.088768,1.000000
max,4.553877,17.001783,4.204693,8.388678,8.516807,3.520461,2.000000,11.318503,7.347909,2.000000

In [130]:
score_data.Credit_Score.value_counts()

Credit_Score
1    34370
0    20625
2     9739
Name: count, dtype: int64

In [131]:
score_data=score_data.dropna()
score_data.isnull().sum()

Age                                                   0
Annual_Income                                         0
Delay_from_due_date                                   0
Num_of_Delayed_Payment                                0
Outstanding_Debt                                      0
Credit_History_Age                                    0
Payment_of_Min_Amount                                 0
Total_EMI_per_month                                   0
Monthly_Balance                                       0
Credit_Score                                          0
Occupation_Accountant                                 0
Occupation_Architect                                  0
Occupation_Developer                                  0
Occupation_Doctor                                     0
Occupation_Engineer                                   0
Occupation_Entrepreneur                               0
Occupation_Journalist                                 0
Occupation_Lawyer                                     0
Occupation_Manager                                    0
Occupation_Mechanic                                   0
Occupation_Media_Manager                              0
Occupation_Musician                                   0
Occupation_Scientist                                  0
Occupation_Teacher                                    0
Occupation_Writer                                     0
Occupation________                                    0
Payment_Behaviour_High_spent_Large_value_payments     0
Payment_Behaviour_High_spent_Medium_value_payments    0
Payment_Behaviour_High_spent_Small_value_payments     0
Payment_Behaviour_Low_spent_Large_value_payments      0
Payment_Behaviour_Low_spent_Medium_value_payments     0
Payment_Behaviour_Low_spent_Small_value_payments      0
dtype: int64

In [132]:
X=score_data.drop('Credit_Score',axis=1)
y=score_data['Credit_Score']
X_train, X_test, y_train, y_test = train_test_split(X, y,stratify=y, test_size=0.2, random_state=42)

In [133]:
# Create the k-NN classifier
k = 3  # You can adjust the number of neighbors
knn = KNeighborsClassifier(n_neighbors=k)
# Fit the model
knn.fit(X_train, y_train)
# Make predictions
y_pred = knn.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 0.6119965454973698

In [136]:
dt_classifier = DecisionTreeClassifier(random_state=42)
dt_classifier.fit(X_train, y_train)
y_pred = dt_classifier.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy:.2f}")

Accuracy: 0.68